@{
    Layout = "~/Views/_bankingLayout.cshtml";
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

<form method="post">
	<fieldset>
		<legend>Cambio de contraseña</legend>

		<label for="actual_password">Contraseña Actual: </label>
		<input class="form-control" type="text" id="actual_password" name="actual_password">

		<label for="new_password">Contraseña nueva: </label>
		<input class="form-control" type="text" id="new_password" name="new_password">

		<label for="confirm_password">Confirmar contraseña: </label>
		<input class="form-control" type="text" id="confirm_password" name="confirm_password">

		<input class="btn btn-default" type="submit" value="Cambiar Contraseña">
	</fieldset>
</form>