@{
    Layout = "~/Views/_bankingLayout.cshtml";
    ViewBag.Title = "Cambiar Contraseña";
}

@section BankHome {
<form id="changepassword" method="post">
	<fieldset class="col-xs-4">
		<legend>Cambio de contraseña</legend>
        <div class="form-group">
		<label for="actual_password">Contraseña Actual: </label>
		<input class="form-control" type="password" id="actual_password" name="actual_password">
        </div>
        <div class="form-group">
		<label for="new_password">Contraseña nueva: </label>
		<input class="form-control" type="password" id="new_password" name="new_password">
            </div>
        <div class="form-group">
		<label for="confirm_password">Confirmar contraseña: </label>
		<input class="form-control" type="password" id="confirm_password" name="confirm_password">
            </div>
        <div class="form-group text-right">
            <input class="btn btn-default" type="submit" value="Cambiar Contraseña">
        </div>
	</fieldset>
</form>
    }