@{
    ViewBag.Title = "HomeBank";
    Layout = "~/Views/_bankingLayout.cshtml";
}

@section BankSection{

<h1 class="h-bank">Buenos D&iacute;as Leonal Hern&aacute;ndez</h1>
    <hr />
    
    <table class="table table-striped">
    <thead class="#"><td>Alias</td><td>N&uacute;mero</td><td>Tipo</td><td>Balance</td></thead>
   
    <tbody>
        <tr>
            <td>bpd</td>
            <td>38449400</td>
            <td>Ahorro</td>
            <td>1,500.00</td>
        </tr>
        <tr>
            <td>bpd</td>
            <td>38449400</td>
            <td>Ahorro</td>
            <td>1,500.00</td>
        </tr>
    </tbody>
  
</table>





}
