@{
    ViewBag.Title = "HomeBank";
    Layout = "~/Views/_bankingLayout.cshtml";
}

@section bienvenida{


    <div class="main-section cl-lg-padding-both">
        <div class="container">
            <div class="col-sm-4">

                <div class="container">
                    <ul class="menu-sidebar">
                        <li class="sinal-green" style="background-image: url(Content/Img/flecha.png);">hola</li>
                        <li>hola</li>
                        <li>hola</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="container">
                    <h1>hola mundo</h1>
                </div>
            </div>
        </div>
    </div>




}
